{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <title>{% block title %} Titre par defaut {%endblock%}</title>
</head>
<body>
    <header>
        <div id="logo">Book_R</div>
        <div class="icones">
            <a href="{% url 'home' %}" style="color: white;"><i class="fa-solid fa-house"></i></a>
        </div>
    </header>
    <section class="corps">
        {% block contains%}

        {% endblock %}

    </section>
    
</body>
</html>